main {
  display: flex;
  flex-direction: column;
}

.boards {
  display: flex;
  justify-content: space-around;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template: repeat(10, 40px) / repeat(10, 40px);
  gap: 2px;
}

.cell {
  border: solid black 1px;
}

.cell.hit {
  background-color: red;
}
.cell.miss {
  background-color: gray;
}
.cell.ship {
  background-color: blue;
}
